
.header {
  position: relative;
  top: 0;
}

.content {
  background-color: #fff;
  height: 700px;
  padding: 120px 0;
}
.modify_check {
  width: 480px;
  height: 460px;
  margin: auto;
  text-align: center;
}
.modify_check h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 40px;
}
.form_check_pw {
  height: 180px;
  margin: 70px 0;
  padding: 65px 0;
  color: #999;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.password_input {
  border: none;
  text-align: center;
  width: 50%;
  height: 50px;
  line-height: 30px;
  font-size: 1.4em;
  background-color: transparent;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  letter-spacing: 4px;
}
.password_input:focus {
  outline: none;
  background: #fff;
}
.pw_wrap {
  position: relative;
}
.placeholder {
  background-color: blue;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: cneter;
  line-height: 50px;
  font-size: 1.4em;
  letter-spacing: 4px;
}
.password_btn {
  width: 100%;
  border: none;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
}

