html {
  height: 100%;
}
body {
  position: relative;
  /* height: 100vh */
}
input[type="text"], input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 0 10px;
}
.err {
  color: red;
  font-size: 12px; 
}
.cor {
  color: green;
}
.necessary {
  margin-bottom: 4px;
  position: relative;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}


/* HEADER */
.header_wrap {
  /* box-shadow: 0 3px 6px 2px rgb(60, 67, 60, .9); */
  border-bottom: 1px solid #f1f1f1;
}

/* CONTENT */

.content {
  background: #f1f1f1;
  margin: 0 auto;
}
.join {
  width: 460px;
  height: 100%;
  background: #fff;
  margin: auto;
  padding: 100px 60px;
}
.join_logo {
  width: 110px;
  height: 30px;
  background: url(../images/login_logo.jpg) no-repeat center;
  margin: 60px auto 60px;
  text-indent: -9999px;
}
.necessary::after {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fd5a67;
  border-radius: 50%;
  top: 5px;
  left: 43px;
}
.membership_join_id {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.input-wrap .clear-btn {
  font-size: 2.0em;
  color: #999;
  position: absolute;
  right: 12px;
  top: 12px;
  display: none;
  cursor: pointer;
}
.membership_join_id .necessary {
  position: relative;
  margin-bottom: 4px;
}
.membership_join_id .err-id {
  width: 100%;
  /* height: 20px; */
  font-size: 12px;
  
}
.membership_join_pw {
  /* height: 170px; */
  margin-bottom: 10px;
} 
.membership_join_pw div:nth-child(2) {
  margin-bottom: 5px;
}
.membership_join_pw .input-wrap .pw-visible_off,
.membership_join_pw .input-wrap .check-visible_off,
.membership_join_pw .input-wrap .pw-visible,
.membership_join_pw .input-wrap .check-visible {
  font-size: 1.8em;
  cursor: pointer;
  color: #999;
  position: absolute;
  right: 10px;
  top: 13px;
  
}
.membership_join_pw .input-wrap .pw-visible_off,
.membership_join_pw .input-wrap .check-visible_off {
  display: none;
}

.membership_join_pw .input-wrap .clear-btn {
  font-size: 1.8em;
  cursor: pointer;
  color: #999;
  position: absolute;
  right: 50px;
  top: 12px;
  display: none;
}
.membership_join_pw>input:nth-child(1) {
  margin-bottom: 10px;
}
.membership_join_pw .err-pw {
  font-size: 12px;
  /* height: 20px; */
  margin-bottom: 4px;
}
.membership_join_pw .pw-check-msg {
  font-size: 12px;
  color: red;
}

.membership_join_pw .necessary:after {
  left: 56px;
}
.membership_join_name{
  margin-bottom: 10px;
}

.membership_join_name .necessary:after {
  left: 32px;
}
.membership_join_birth {}
.birth-title .necessary::after {
  left: 58px;
}
.birth-title {
  margin-bottom: 4px;
}
.birth-wrap {
  display: flex;
  margin-bottom: 10px;
}
.birth-mm {
  width: 57%;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #666;
  box-sizing: border-box;
  height: 50px;
  border-radius: 2px;
}
.month {
  border: none;
  outline: none;
  width :100%;
  height: 30px;
  line-height: 1.2;
}
.membership_join_gender {
  margin-bottom: 10px;
}
.membership_join_gender .necessary::after {
  left: 32px;
}
.gen-choice {
  height: 50px;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 4px;
}
.gender {
  width: 100%;
  height: 100%;
  font-size: 14px;
  border: none;
  outline: none;
}
.membership_join_mail {
  margin-bottom: 10px;
}
.membership_join_mail .err-email {
  font-size: 12px;
  color: red;
}
.membership_join_mobile {
  margin-bottom: 10px;
}
.mobile .necessary::after {
  left: 56px;
}
.membership_join_addr {}
.ps_code {
  outline: none;
  color: #999;
}
.ps_code:focus {
  outline: none;
  
}
.ps-code .necessary::after {
  left: 30px;
}
.change-post-code {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  line-height: 1;
  font-size: 1.2em;
  padding: 10px;
  background-color: rgb(31, 30, 30);
  color: #fff;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}
.addr_b {
  outline: none;
  color: #999;
}
.membership_policy_agreement {
  height: 140px;
  flex-direction: column;
  justify-content: space-between;
  color: #6e6e6e;
  font-size: 0.9em;
  margin-bottom: 30px; 
  margin-top: 30px;
}
.membership_policy_agreement .policy_all_agreement {
  font-weight: 700;
  color: #333;
}
.membership_policy_agreement .join_checkbox_link {
  border: 0;
  background: #fff;
  text-decoration: underline;
  /* font-weight: 300; */
  color: #6e6e6e;
  cursor: pointer;
  font-size: 13px;
}
.membership_policy_agreement .policy_all_agreement input,
.membership_policy_agreement .site_use_agreement input, 
.membership_policy_agreement .join_age_agreement input, 
.membership_policy_agreement .marketing_agreement input,
.membership_policy_agreement .privacy_agreement input{
  margin-right: 6px;
}
.joinus {
  width: 100%;
  height: 50px;
  background: #eee; 
  color: #999;
  font-size: 1.1em;
}
.clickable {
  background: #000; 
  color: #fff;
  cursor: pointer;
}