/* HEADER */

/* MAIN */
.content {
  height: 598px;
  /* height: 100vh; */
  background-color: #f1f1f1;
  /* box-shadow: 0 2px 6px 2px rgb(60, 67, 60, .3); */
  border-top: 1px solid #f1f1f1;
}
.login {
  margin: 0 auto;
  height: 100%;
  width: 460px;
  min-height: 576px;
  background-color: #fff;
  padding: 50px 60px 40px;
  text-align: center;
  position: relative;
}
.login h2 {
  font-size: 1.2em;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
}
.login > .login-type {
  margin-bottom: 20px;
}
.login > .login-type > li {
  width: 100%;
  height: 100%;
  margin-top: 1px;  
  box-sizing: border-box;
  color: #d1d1d1;
  position: relative;
}
.login > .login-type > li:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background:#d1d1d1;
}
.login .login-type li.active:before {
  background: #000;
  height: 2px;
}
.login .login-type li.active {
  color: #333;
}

.login .mem_div{
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  display: block;
}

.login .login-form {
  /* height: 100%; */
  top: 0;
  left: 0;
}

.login-member {
  /* position: absolute; */
  width: 340px;
}
.login-member > .member-form {
  flex-direction: column;
}
.login-member .login_input_wrap {
  border: 1px solid #c1c1c1;
  margin-bottom: 20px;
  width: 100%;
}

.login-form .login_input {
  box-shadow: 0 0 0 30px #fff inset;
  border: none;
  width: 100%;
  height: 50px;
  padding: 4px 6px;
}
.login-form input:focus { 
  outline: 1px solid #aaa;
}
.login_button {
  margin-bottom: 20px;
}
.login_button>button {
  font-size: 1.1em;
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}
.login-member .util {
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}
.check_box label{
  display: inline-flex;
}
.auto-login {
  margin-right: 5px;
}
.util_list {
  width: 50%;
  height: 20px;
  font-size: 0.9em;
  color: #ccc;
  position: relative; 
  justify-content: flex-end;
}

.util_list > .util_item {
  display: block;
  position: relative;
}
.util_list > .util_item:first-child {
  margin-right: 10px;
}
.util_list > .util_item:last-child > a:before {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 7px;
  left: -6px; 
}
.util_item>a:hover {
  color: #666;
}
/* 비회원 */
.non-members {
  /* position: absolute; */
  width: 340px;
  display: none;
  margin-bottom: 10px;
}
.non-members fieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.non-members fieldset > label {
  font-weight: 700;
}
.non-members input {
  height: 50px;
  margin: 10px 0 20px;
  padding: 0 10px;
  border: 1px solid #999;
  color: #333;
}
.non-members input:focus {
  outline: none;
}
.non-members button {
  background: #000;
  width: 100%;
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
}


.login_bottom {
  color: #3f8dff;
  font-size: 0.9em;
  margin-top: 20px;
}
.login_bottom_text {
  margin-right: 2px;
}
.login_bottom a {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #3f8dff;
  border-radius: 2px;
}


/* footer */
.footer_wrap {
 top: 0;
}