/*common*/
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-size: 14px;
  color: #333;
  line-height: 1.5em;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.hide {
  width: 0;
  height: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
}

.font_bold {
  font-weight: 700;
}
.line_through {
  text-decoration: line-through;
}
.price_discount {
  font-size: 1.4em;
  color: #f85656;
}
.flex_box {
  display: flex;
}
.tit {
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

/* tmp */


/*HEADER*/
.header_wrap {
  position: relative;
  width: 100%;
  min-width: 1200px;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 10px;
  transition: top .3s;
  background: transparent;
  border: 0;
}
.header_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: scaleX(.7);
  background-color: #fff;
  transition: transform .8s ease;
  box-shadow: 1px 1px 3px rgb(60, 64, 67, .2);
}
.header.fixed {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  /* transform: scaleX(1); */
}
#header {
  /* box-shadow: 3px 3px 3px gray; */
  background-color: #fff;
  position: relative;
  margin: auto;
  height: 90px;
  width: 1332px;
  box-sizing: border-box;
  z-index: 20;
  transition: height .6s;
}
.header-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.header .logo {
  float: left;
  margin-right: 18px;
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
}

.header .logo a {
  display: block;
  width: 138px;
  height: 35px;
  margin-left: 18px;
  background: url('../images/header_logo.png') no-repeat center;
  text-indent: -9999px;
}


.header .gnb .main_menu>li {
}

.header .gnb .main_menu>li a:hover {
  color: #999;
}

.header .gnb .sub_menu .list_wrap .category {
  font-size: 1.1em;
  font-weight: 700;
}


/* .header .gnb .
_menu h3 {
  font-size: 1.4em;
  font-weight: 700;
  position: relative;
  margin-bottom: 9px;
} */
/* 
.header .gnb .sub_menu h3::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: #777;
  position: absolute;
  bottom: -9px;
  left: 0;
} */
.header .utill_menu {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 10px;
}

.header .utill_menu ul {
  height: 0;
}

.header .utill_menu li {
  float: left;
  position: relative;
}

.header .utill_menu li::before {
  content: "";
  width: 1px;
  height: 9px;
  background-color: #999;
  position: absolute;
  top: 16px;
  right: 0;
  margin: 0 auto;
}

.header .utill_menu li:last-child::before {
  display: none;
}

.header .utill_menu li a {
  display: block;
  /* height: 40px; */
  padding: 10px;
  color: #999;
  text-align: center;
  line-height: 20px;
  font-size: 0.8em;
}

.header .utill_menu li a:hover {
  color: #333;
}

.header .utill_menu li .like {
  color: #f85656;
  font-weight: 700;
}


/*main*/
.content {
  position: relative;
  top: 0;
  /* left: 0;
  right: 0; */
  overflow: hidden;
  z-index: 10;margin-top: 0;
}

.main_images {
  overflow: hidden;
  margin: 0 auto;
  width: 1903px;
  margin-bottom: 100px;
  position: relative;
}
.main_images .main_navi {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
}
.main_images .main_navi .slick-dots {
  width: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  height: 30px;
  /* margin: -40px auto 0; */
  /* text-align: center; */
}

.main_images .main_navi .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  margin: 0 4px;
}
.main_images .main_navi .slick-dots li button {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, .5);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  top: 0;
  left: 0;
  position: absolute;
  text-indent: -9999px;
}
.main_images .main_navi .slick-dots li.slick-active button {
  background: rgba(255, 255, 255, 1);
}
.main_images ul li a {
  display: block;
  height: 500px;
}
.main_images .mySlider {
  overflow: hidden;
}


/* quick_service */
.quick_services {
  width: 1200px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  /* padding: 64px 120px 64px 73px; */
}

.quick_services .quick_wrap {
  /* border: 1px solid #999; */
  height: 180px;
  box-shadow: 0 2px 6px 2px rgb(60, 64, 67, .2);
}

.quick_services .quick_wrap li {
  position: relative;
}

.quick_services .quick_wrap li:after {
  content: "";
  width: 1px;
  height: 58px;
  background-color: #999;
  position: absolute;
  top: 60px;
  right: 0;
}
.quick_services .quick_wrap li:hover:after {
  background-color: #000;
}

.quick_services .quick_wrap li:last-child:after {
  display: none;
}

.quick_services .quick_wrap li a {
  display: block;
  width: 400px;
  height: 180px;
  transition: background-color .4s, color .4s;
}

.quick_services .quick_wrap li a:hover {
  background: black;
  color: #fff
}

.quick_services .quick_cont1 {
  float: left;
}

.quick_services a p:first-child {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.2em;
}

.quick_services .quick_cont1 a {
  padding: 64px 68px 64px 73px;
}

.quick_services .quick_cont2 {
  float: left;
}

.quick_services .quick_cont2 a {
  padding: 65px 77px 66px 78px;
}

.quick_services .quick_cont3 {
  float: left;
}

.quick_services .quick_cont3 a {
  padding: 64px 120px;
}


/* NEW PRODUCT */
.new_product {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.new_product .new {
  position: relative;
  z-index:10;
}
.new_product .new button.slick-prev,
.new_product .new button.slick-next {
  text-indent: -9999px;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 20;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, .3);
}
.new_product .new .slick-prev {
  background: url(../images/icn_prev.svg) no-repeat center;
  left: -20px;
}
.new_product .new .slick-next {
  background: url(../images/icn_next.svg) no-repeat 9px;
  right: -20px;
}

/* .new_product .new li {
  /* float: left; */
/* } */ */

.new_product .img {
  width: 200px;
  height: 268px;
  margin: 0 10px 0 0;
}

.new_product .text {
  width: 200px;
  height: 60px;
  padding: 10px 4px 0 6px;
}

.new_product .text .product {
  margin-bottom: 4px;
}

.new_product .text .price span:nth-child(1) {
  font-weight: 700;
}

.new_product .text .price span:nth-child(2) {
  font-size: 0.9em;
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

.new_product .text .price {
  float: left;
}

.new_product .text .price_discount {
  float: right;
  font-size: 1.2em;
}

.new_product .btn_prev {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 175px;
  left: -22px;
  background-color: #fff;
  box-shadow: 3px 3px 3px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

/* WEEKLY BEST */
.best_wrap {
  height: 670px;
  background-color: #f7f7f7;
  padding: 48px 0;
  margin: 100px 0;
}

.best {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.best .slick-dots {
  text-align: center;  
  width: 60px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -30px;

}
.best .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  margin: 0 4px;
}
.best .slick-dots li button {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, .3);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  top: 0;
  left: 0;
  position: absolute;
  text-indent: -9999px;
}
.best .slick-dots li.slick-active button {
  background: rgba(0, 0, 0, .9);
}

.best ul.container_best {
  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
  /* display: flex; */
  /* position: relative; */
}
.best ul.container_best li {
  margin: 0 10px;
}
.best ul.container_best li:nth-child(1) .best_img {
  border-top-left-radius: 140px;
}
.best ul.container_best li:nth-child(odd) .best_img {
  margin-top: 40px;
}
.best ul.container_best li:nth-child(4) .best_img {
  border-bottom-right-radius: 140px;
}
.best .best_img {
  width: 280px;
  height: 325px;
  background: #fff;
  display: flex;
}
.best .best_img>img{
  margin: auto;
  width: 150px;
  height: 150px;
}
.best .product_info {
  margin: 15px 6px 0;
}
.best .product_info .line-through{
  margin: 8px 0;
  text-decoration: line-through;
  color: #999;
}
.best .product_info .flex_box {
justify-content: space-between;
}
.best  .product_info .font_bold {
  font-size: 1.2em;
}
.best  .product_info .price_discount {
  font-size: 1.4em;
}


/* LOOKBOOK */
.lookbook {
  margin: 0 auto 50px;
  position: relative;
  z-index: 10;
}
.lookbook .wrap_lookbook {
  margin: auto;
  position: relative;
  width: 1200px;
  height: 700px;
}
.lookbook .wrap_lookbook .slide {
  text-indent: -9999px;
  box-sizing: border-box;
}
.lookbook .wrap_lookbook .slide.slick-center {
}
.lookbook .wrap_lookbook .slide.slick-center img{
  padding: 0;
  margin: 0;
}
.lookbook .wrap_lookbook .slide img {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  margin: 20px 0;
  transition: all .6s;
}



/* PRODUCT LIST */
.product_list {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}
.product_list .list_name {
  width: 550px;
  margin-bottom: 16px;
  font-size: 1.2em;
  justify-content: space-between;
}
.product_list .list_name .all {
  color: #000;
  font-weight: 700;
  background: url(../images/icon_dot--red.jpg) no-repeat top right;
}
.product_list .list_name li {
  color: #999
}
.product_list .list_name li a {
  padding:0 10px;
}
.product_list .list_name li:hover {
  color: #333;
}

.list_wrap {
  position: relative;
  height: 800px;
}
.list_wrap ul {
  visibility: hidden;
}
.list_wrap ul:first-child {
  visibility: visible;
}

/* 상품목록 */
.all_product {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}
.all_product li {
  padding: 8px;
  transition: .3s;
}
.all_product li:hover {
  box-shadow: 0 0 6px 0 rgba(100, 100, 100, 0.3);
}

.all_product .flex_box {
  justify-content: space-between;
}
.all_product .product_info {
  width: 224px;
  padding: 12px 4px 0 4px;
}
.all_product .product_info .line-through {
  text-decoration: line-through;
  color: #999;
  margin: 4px 0;
}
.all_product .product1_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img1.jpg);
}
.all_product .product2_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img2.jpg);
}
.all_product .product3_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img3.jpg);
}
.all_product .product4_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img4.jpg);
}
.all_product .product5_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img5.jpg);
}
.all_product .product6_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img6.jpg);
}
.all_product .product7_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img7.jpg);
}
.all_product .product8_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img8.jpg);
}
.all_product .product9_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img9.jpg);
}
.all_product .product10_img {
  width: 224px;
  height: 270px;
  background: url(../images/product_img10.jpg);
}

.btn_more {
  width: 90px;
  height: 34px;
  background-color: #000;
  margin: auto;
  /* position: absolute;
  left: 50%;
  margin-left: -45px; */
  color: #fcfcfc;
  text-align: center;
  line-height: 34px;
  box-shadow: 2px 2px 6px gray;
  cursor: pointer;
}

.to_top {

}

/* 메인슬라이드 버튼 */
.main_images button.slick-prev,
.main_images button.slick-next {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 10;
  text-indent: -9999px;
  top: 250px;
  margin-top: -25px;
  box-shadow: 3px 3px 5px rgb(60, 64, 67, .2);
  cursor: pointer;
}
.main_images button.slick-prev{
  left : 150px;
  background: url(../images/btn_prev.png) no-repeat #fff;
}
.main_images button.slick-next{
  right: 150px;
  background: url(../images/btn_next.png) no-repeat #fff;
}

/* best 버튼 */
.best > button.slick-prev,
.best > button.slick-next {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    z-index: 20;
    box-shadow: 3px 3px 5px rgb(60, 64, 67, .3);
    border-radius: 20px;  
    text-indent: -9999px;
    margin-top: -20px;
    
}

.best button.slick-prev {
  left: -10px;
  background: url(../images/icn_prev.svg) no-repeat 7px #fff;
}
.best button.slick-next {
  background: url(../images/icn_next.svg) no-repeat 10px #fff;
  right: -10px;
}

/* lookbook btn */
.lookbook .wrap_lookbook button.slick-prev,
.lookbook .wrap_lookbook button.slick-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 40;
  top: 42%;
  text-indent: -9999px;
  box-shadow: 1px 3px 5px 0 rgb(60, 64, 67, .2);
}
.lookbook .wrap_lookbook button.slick-prev {
  background: url(../images/icn_prev.svg) 8px no-repeat #fff;
  left: -20px;
}
.lookbook .wrap_lookbook button.slick-next {
  right: -20px;
  background: url(../images/icn_next.svg)  10px no-repeat #fff;
}