.product-list__contents--inner {
  margin: 0 auto;
  width: 1200px;
}

.category-dept {
  width: 100%;
  padding: 20px 0;
  color: #999;
}
.category-dept__list {
  display: flex;
  width: 100%;
  align-items: center;
}
.category-dept__item-title {
  color: #999;
  font-size: 12px;
}
.category-dept__list .category-dept__item:last-child .category-dept__item-title {
  color: #222;
  font-weight: 700;
}
.category-dept__list .category-dept__item--dept2:before {
  content: '';
  display: inline-block;
  background: url(../images/categoryList.png) center;
  width: 5px;
  height: 10px;
  margin: 0 4px 0 8px;
}
.product-list__contents-title {
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0 30px;
  line-height: 1;
}
.product-category {
  width: 100%;
  font-size: 0;
}
.product-category__list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  flex-flow: wrap;
}
.product-category__list {
  padding-bottom: 17px;
  line-height: 1.2;
}
.product-category__item:nth-child(1) .product-category__item-title {
  width: 32px;
}
.product-category__item--active.product-category__item--active {
  color: #000;
  font-weight: 700;
}
.product-category__item--active::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #fd5a67;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  top: 3px;
}

.product-category__item:not(:last-child) {
  padding-right: 40px;
}
.product-category__item-title {
  position: relative;
  font-size: 18px;
  color: #999;
  display: inline-block;

}
.product-category__item-title:hover {
  color: #555;
}

.product-content {
  
}
.product-content .sort-box {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.product-content .sort-box .total .count {
  color: #fd5a67;
  font-weight: 700;
}
.product-content .sort-control {
  display: flex;  
}
.product-content .sort-control .sort-ctrl-btn {
  display: block;
  position: relative;
  padding: 0 12px;
  color: #999;
}
.product-content .sort-control .sort-ctrl-btn:hover {
  color: #666;
}
.product-content .sort-control .sort-ctrl-btn.ctrl-active {
  color: #000;
  font-weight: 700;
}
.product-content .sort-control .sort-ctrl-btn:not(:first-child):after {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  background: #999;
  position: absolute;
  top: 6px;
  left: 0;
}
.product-list {

}
.product-list__wrapper {

}
.product-list__goods {
}
.product-list__img-wrapper {
  position: relative;

}
.product-list__img-hover {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-list__img-hover .add-cart, 
.product-list__img-hover .add-like {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/);
}